body {
  background-color: #20304A;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Cormorant', serif;
}

Nav {
  background: #ffffff;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: left;
  z-index: 1000;
}

.title {
  color: #333;
  font-size: 48px;
  text-align: center;
  margin-top: 500px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  align-items: center;
  text-align: center;
}

Nav li {
  padding: 0;
  display: flex;
  margin: 20px;
  display: inline;
}

Nav {
  margin: 0 15px;
  justify-content: right;
}

Nav a {
  color: #3c3851;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
}

ul {
  display: block;
}

Nav a:hover {
  color: #5f6e92;
}

form {
  background: rgba(255, 255, 255, 0.123);
  padding: 50px;
  border-radius: 50px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  width: 300px;
  font-size: 25px;
}

form h2 {
  color: #ffffff;
  margin: 0px;
  margin-bottom: 20px;
  font-family: 'Cormorant', serif;
  letter-spacing: 1px; 
}

form input {
  width: 100%;
  height: 30px;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #000000;
  border-radius: 50px;
  background: #DFDEDC;
  color: #000000;
  font-family: 'Cormorant', serif;
  letter-spacing: 2px; 
  text-align: center;
  outline: none;
}

form input:focus {
  background: rgb(255, 255, 255);
}

form button {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background: #dfdedc61;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.5s;
  margin: 10px 0;
  font-family: 'Cormorant', serif;
  letter-spacing: 1px; 
}

form button:hover {
  color: #c0b6a3;
  background: #fff;
  border: red;
}

.message {
  color: #ff0033; 
  margin-top: 10px;
}

select {
  margin-right: 10px;
  background-color: #DFDEDC;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Cormorant', serif;
}

label {
  color: #ffffff;
}
