/* styles.module.css */
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

.title {
  text-align: center; /* Centra el texto dentro del h1 */
}

